<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/introHCI.css?v=1.0">


<script src="js/scripts.js"></script>


<title>Weather Pal</title>
<meta name="description" content="Weather Pal">
<meta name="author" content="SitePoint">


<!--Nav bar -->

<!--
<div class="container">

    <div class="app-title">
        <p>Weather</p>
    </div>
    <div class="Notification"></div>
    <div class="weather-Container"> 
        <div class="weather-icon">
            <img src="images/windy-cloud-sketch-icon-vector-10118200.jpg">
        </div>
        <div class="temperature-value">
            <p>
                -°<span>C</span>
            </p>
        </div>

        <div class="temperature-description">
            <p> - </p>
        </div>

        <div class="location">
            <p>-</p>
        </div>
    </div>
    <script src="../app.js"></script>


</div>

-->



<!--
    FROM HERE
-->
<div class="topnav">
    <a href="./index.html" class="button">Home</a>
    <a href="./screen2.html" class="button">Settings</a>
    <a href="./feedback.html" class="button">Reflection</a>
</div>

</head>
<body>
    <!--Weather image-->
    <!--Contains simply the image reflecting the current weather-->
    <div class="weatherIMG">
        <img src="images/windy-cloud-sketch-icon-vector-10118200.jpg" alt="Cold" class="center">
    </div>

    <!--Weather Content-->
    <!--Contains dynamic weather information-->
    <div>
        <h1>63</h1>
        <h3>Expect a mixed day - might want to bring a jacket</h3>
    </div>

    <div class="chart">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <!--ChartJS script-->
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        let masterChart = new Chart(myChart, {
            type: 'bar', 
            data:{
                labels: ['Sunny', 'Warm', 'Mild', 'Cold', 'Freezing'], 
                datasets: [{
                    label: 'Satisfaction', 
                    data:[
                        80,
                        87,
                        55,
                        78,
                        98
                    ]
                }]
            }, 
            options:{}
        });
    </script>

    <script src="../app.js"></script>



</body>
</html>




